{% assign techs = site.data.data.techs %}
{% if techs %}
<section class="section techs-section">
    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
        {{ techs.title }}
    </h2>

    <h3>Programming Languages:</h3>
    <ul>
        {% for language in techs.info %}
        {% if language.lang %}
        <li class="job-title">{{ language.lang }}</li>
        {% endif %}
        {% endfor %}
    </ul>

    <h3>Frameworks & Libraries:</h3>
    <ul>
        {% for language in techs.info %}
        {% if language.lib %}
        <li class="job-title">{{ language.lib }}</li>
        {% endif %}
        {% endfor %}
    </ul>

    <h3>Databases:</h3>
    <ul>
        {% for language in techs.info %}
        {% if language.db %}
        <li class="job-title">{{ language.db }}</li>
        {% endif %}
        {% endfor %}
    </ul>

    <h3>Cloud & DevOps:</h3>
    <ul>
        {% for language in techs.info %}
        {% if language.ops %}
        <li class="job-title">{{ language.ops }}</li>
        {% endif %}
        {% endfor %}
    </ul>

    <h3>Tools & Technologies:</h3>
    <ul>
        {% for language in techs.info %}
        {% if language.tool %}
        <li class="job-title">{{ language.tool }}</li>
        {% endif %}
        {% endfor %}
    </ul>

    <h3>Other Skills:</h3>
    <ul>
        {% for language in techs.info %}
        {% if language.other %}
        <li class="job-title">{{ language.other }}</li>
        {% endif %}
        {% endfor %}
    </ul>


</section><!--//section-->
{% endif %}

